In [42]:
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd

In [43]:
labels = pd.read_csv("data/labels.csv")

In [44]:
labels.head()

                                 id             breed
0  000bec180eb18c7604dcecc8fe0dba07       boston_bull
1  001513dfcb2ffafc82cccf4d8bbaba97             dingo
2  001cdf01b096e06d78e9e5112d419397          pekinese
3  00214f311d5d2247d5dfe4fe24b2303d          bluetick
4  0021f9ceb3235effd7fcde7f7538ed62  golden_retriever

In [45]:
path_train = "data/train/"

filenames = [path_train + fname + ".jpg" for fname in labels['id']]

In [46]:
labels_np = labels['breed'].to_numpy()

In [47]:
unique_breeds = np.unique(labels_np)

In [49]:
boolean_labels = [label == np.array(unique_breeds) for label in labels_np]

In [51]:
len(boolean_labels)

10222

In [67]:
X = [plt.imread(fname, format='jpeg') for fname in filenames]
y = boolean_labels

In [70]:
print(f"Number of training images: {len(X)}")
print(f"Number of labels: {len(y)}")

Number of training images: 10222
Number of labels: 10222